* {
  font-family: Euclid Circular A;
}

#1e293b {
  color: #1e293b;
}

.fill-mode {
  fill: var(--bs-gray-900) !important;
}

.text-primary {
  color: #42c8b7;
}

#suggestion {
  color: black;
  text-decoration: none;
}

#suggestion:hover {
  color: #42c8b7;
}

.icon-lg {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.2rem;
}

#green-button {
  background-color: #754ffe;
  color: white;
  border: none;
}

#green:hover {
  background-color: #42c8b7;
  color: white;
}

.text-inherit {
  text-decoration: none;
  color: #1e293b;
  font-weight: bold;
}

.job-circle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

#joblist {
  height: 82vh;
}

#circleit {
  border-radius: 100% !important;
  width: 50px;
  height: 50px;
  background-color: #754ffe;
  display: flex;
  justify-content: center;
  align-items: center;
}

#jobcategory {
  height: 80vh;
  overflow-y: auto;
}

#content-container {
  height: 82vh;
}

#comicons {
  width: 330px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.companylogo {
  margin: 0px 30px;
}

.companylogo img {
  width: 100px;
}

.list-group-item.active {
  z-index: 2;
  color: var(--bs-list-group-active-color);
  background-color: var(--bs-list-group-active-bg);
  border-color: var(--bs-list-group-active-border-color);
}

small.company {
  color: #00000099;
  font-weight: 500;
}

small {
  font-weight: 300;
}

a:hover {
  box-shadow: inset 0 0 0 1px var(--sb-foreground-highlight-high);
}

.rounded-circle {
  border-radius: 100% !important;
}

#rounded-circle {
  width: 50px;
  height: 50px;
  /* border: 1px solid black; */
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#green-button {
  background-color: #42c8b7;
  color: white;
  border: none;
}

#navbarLanding:hover {
  color: #754ffe;
}

#green-button:hover {
  background-color: #04d2c1;
  color: white;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

#bg {
  background-color: #f5f9fc;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
  flex: auto;
  position: relative;
}

.btn-sm,
.btn-group-sm > .btn {
  --x-btn-padding-y: 0.5rem;
  --x-btn-padding-x: 1rem;
  --x-btn-font-size: 0.875rem;
  --x-btn-border-radius: 0.375rem;
}

.badge {
  background-color: #754ffe;
}

#purple-text {
  color: #754ffe;
  text-decoration: none;
}

#green-text {
  color: #42c8b7;
  text-decoration: none;
}

.avatar-group .avatar-img {
  border: 2px solid var(--bs-body-bg);
}

#menu-hover:hover {
  background-color: #f5f9fc;
}

#grey-text {
  /* color: #64748b; */
  color: #747579;
  text-decoration: none;
}

#grey-text:hover {
  color: #42c8b7;
}

.nav-link.mb-3:hover {
  color: #42c8b7;
}

/* Navbar */
#navbutton {
  border: 1px solid #754ffe;
  color: #754ffe;
}

#navbutton:hover {
  background-color: #42c8b7;
  color: white;
}

input {
  line-height: 22.4px;
}
img {
  max-width: 100%;
  height: auto;
}

.avatar-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-md {
  width: 2.6rem;
  height: 2.6rem;
  line-height: 2.6rem;
  text-align: center;
  font-size: 0.8rem;
}

/* Hero */
#skills {
  color: #64748b;
  font-family: 500;
  text-decoration: none;
  padding: 6px;
  border: 1px solid red;
}

#skills:hover {
  background-color: #42c8b7;
  color: #333333;
}

.companylogo {
  margin: 0px 30px;
}

.companylogo img {
  width: 100px;
}
#certificate-types {
  color: #64748b;
  padding: 6px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #42c8b7;
}

/* SignUp Page Style */
.form-check-input:checked[type="checkbox"] {
  background-color: #42c8b7;
  border-color: 1px solid #42c8b7;
}

.form-check-input {
  --geeks-form-check-bg: var(--geeks-input-bg);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--geeks-form-check-bg);
  background-image: var(--geeks-form-check-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--geeks-input-check-border);
  flex-shrink: 0;
  height: 1.2em;
  margin-top: 0.2em;
  vertical-align: top;
  width: 1.2em;
}

.form-check-input {
  --geeks-form-check-bg: var(--geeks-input-bg);
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--geeks-form-check-bg);
  background-image: var(--geeks-form-check-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid var(--geeks-input-check-border);
  flex-shrink: 0;
  height: 1.2em;
  margin-top: 0.2em;
  vertical-align: top;
  width: 1.2em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.7em;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-label {
  color: #334155;
}

.btn-primary {
  --gk-btn-color: #fff;
  --gk-btn-bg: #754ffe;
  --gk-btn-border-color: #754ffe;
  --gk-btn-hover-color: #fff;
  --gk-btn-hover-bg: #42c8b7;
  --gk-btn-hover-border-color: #42c8b7;
  --gk-btn-focus-shadow-rgb: 138, 105, 254;
  --gk-btn-active-color: #fff;
  --gk-btn-active-bg: #5e3fcb;
  --gk-btn-active-border-color: #583bbf;
  --gk-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --gk-btn-disabled-color: #fff;
  --gk-btn-disabled-bg: #754ffe;
  --gk-btn-disabled-border-color: #754ffe;
}

.btn-social {
  background-color: var(--gk-gray-200);
  border: 1px solid transparent;
  border-radius: 0.375rem;
  color: var(--gk-gray-500);
  display: inline-block;
  font-size: 0.875rem;
  height: 2.25rem;
  line-height: 2.25rem;
  padding: 0;
  text-align: center;
  transition: border-color 0.25s ease-in-out, background-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
  width: 2.25rem;
}

.btn-social-outline {
  background-color: transparent;
  border-color: var(--gk-gray-400);
}

/* User Profile */
.card {
  border: transparent;
}

.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: white !important;
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

#joblist-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  /* -webkit-overflow-scrolling: touch; */
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

html,
body {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* googel */
.gsi-material-button {
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: "Roboto", arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color 0.218s, border-color 0.218s,
    box-shadow 0.218s;
  transition: background-color 0.218s, border-color 0.218s, box-shadow 0.218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: "Roboto", arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity 0.218s;
  transition: opacity 0.218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}

i:hover {
  color: #42c8b7;
}

li {
  list-style: none;
}
